.rightNav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.leftNav {
  display: flex;
  width: 50%;
  padding-left: 2em;  
}

.navContainer {
  padding-right: 5em;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid black 1px;
  align-items: center;
}

.item {
  margin-left: 2em;
}